body{
    background-image:url("image.jpg");
    background-size:cover;
    text-align: center;
    padding-top: 30px;
}

.login-div{
    background-color: white;
    border-radius: 70px;
    width: 70%;
    height:120px;
    padding:3px;
}

#output
{
    background:white;
    border-radius: 10px;
    border-top:10px solid #CCFBF3;
    padding:10px;
    float:none;
    text-align:left;
}